
body {
  font-size: 120%;
  background: #F8F8FF;
}
.container {
  margin-top: 100px !important;
}

.conv{
  border: solid 2px orangered;
  margin: 2px;
}

.messagebox{
  border: solid 2px orangered;
  margin: 2px;
  hight: 300px;
}

.messtext-sended{
  border: solid 2px;
  margin: 2px;
  border-color: aqua;
}
.messtext-recived{
  border: solid 2px;
  margin: 2px;
  border-color: blueviolet;
}
